<?xml version="1.0" encoding="utf-8" ?> 
<!--
Last updated: 1.0.0.11
This file allows you to customize the settings of the Slow Down Manager.
It contains:
* Settings associated with properties found on the SlowDownMgr class in <slowdownmgr>
* A list of rules for the various groups. This is an alternative to calling
  SlowDownMgr.DefineSlowDownRule(). In <slowdownrules>.
* A list of known proxy server IP addresses that provide valid supporting IP addresses to their
  users in <goodproxyserverips>.
* A list of known proxy server IP addresses that provide invalid supporting IP addresses to their
  users in <badproxyserverips>.
* A list of known IP Addresses that are associated with attacks. These will switch to slow down mode
  after one attack. In <quickblockips>.

Here are the steps to using this file:
1. In SetupVisualInputSecurity() of Global.asax, first call PeterBlum.VAM.Security.Globals.UseConfigFiles()
2. Edit the areas of this file that address your needs.

Each section of this file has its own documentation.

REMINDER: Restart your web application after modifying this file.
-->
<ipaddresses>

<!--
The PeterBlum.VAM.Security.SlowDownMgr class has several properties that you can customize.
They are shown in their default state below. Edit the values as follows:
* resetattackcountafter= - After this many seconds of no attacks from a particular IP address, 
  reset the AttackCount to 0. This will let the next attacks start counting towards your first
  rule for slowing them down again. The value is in seconds. It defaults to 24 hrs (86400 seconds).
* detectrandomproxyiplimit= - When an IP address is associated with a proxy server, 
  the proxy server may deliver random values in ServerVariables["HTTP_X_FORWARDED_FOR"].
  This server is considered "bad" because it is generating invalid values.
  detectrandomproxyiplimit is part of a monitoring system to detect bad proxy servers. 
  It is the number of unique IP addresses from ServerVariables["HTTP_X_FORWARDED_FOR"] within
  a time limit before it is considered random.
  It defaults to 3.
* detectrandomproxytimelimit= - The time limit used by detectrandomproxyiplimit=. 
  It is a value in seconds. It defaults to 10 minutes (600 seconds).
* quickblockafter= - When > 0, if the attacker has this many attacks in on any single page, 
  add them to the Globals.QuickBlockIPs collection. This will instantly block them on all 
  other pages after their first attack. When 0, each page will wait until the first SlowDownRule's
  attackstostart= value is reached.
  This helps reduce the resource usage during an attack.
  It defaults to 0.
* slowdowniplimit= - A clever attacker will attempt to fill memory with data, causing an denial of service attack.
  This imposes a limit the number of unique IP addresses tracked in memory. When this value is exceeded,
  it deletes the oldest used IP addresses. It defaults to 1000.
* slowdownipdeletecount= - Used when slowdowniplimit is reached. This is the number of IP Addresses
  to forget.
-->
<slowdownmgr 
  resetattackcountafter="86400" 
  detectrandomproxyiplimit="3" 
  detectrandomproxytimelimit="600" 
  quickblockafter="0" 
  slowdowniplimit="1000" 
  slowdownipdeletecount="50"
/>

<!--
A SlowDownRule describes how many attacks before redirecting to another page.
You can define multiple rules with increasing time limits and different pages to redirect.
In addition, you can develop different groups. This way, pages can have different rules
by specifying the group name in the PageSecurityValidator.SlowDownRuleGroup property.

Each rule has one <item> tag. The tag format is:
<item group="[groupname]" 
   redirecturl="[url]"
   attackstostart="[integer 1 and higher]" 
   timelimit="[number of seconds]"  
   logfirstattack="true|false" />
* group= - A group name used in the PageSecurityValidator.SlowDownRuleGroup. You can have multiple
  rules within the same group. Just make sure their attackstostart= value is different on each rule.
  A value of "" is permitted or this attribute can be omitted.
* redirecturl= - (Required) A URL to another page. You can use the "~/" token at the start for
  the web application root. It is strongly recommended that all URLs are complete, either
  with http://, a lead slash, or "~/" because just using the page name alone will redirect
  from the current URL's folder path and your redirection page may not be in that folder.
* attackstostart= - (Required) The number of attacks from one IP address before this rule is applied.
* timelimit= - (Required) The number of seconds that the redirect page is shown.
* logfirstattack= - (optional) When "true", log the first attack for this rule.

Example:
<item group="" redirecturl="otherpage.aspx" attackstostart="3" timelimit="600" logfirstattack="false" />

-->
<slowdownrules>

</slowdownrules>

<!--
A list of known proxy server IP addresses that provide valid supporting IP addresses to their users.
You will likely populate this as you encounter cases where the software starts to slow down access
to your site for a proxy server, affecting its various users.
By putting an entry here, are you are telling the SlowDownMgr to skip its detection routine
for bad proxy servers when this IP address is encountered.

Each rule has one <item> tag. The tag format is:
<item ip="[IP address]" />
* ip= - an IP address as it is returned from ServerVariables["REMOTE_ADDR"]. Omit lead zeros except
  when the segment is 0. For example, this is good: 0.5.203.13. This is bad: 000.005.203.13.
  
Example:
<item ip="1.2.3.4" />

-->
<goodproxyserverips>
</goodproxyserverips>

<!--
A list of known proxy server IP addresses that provide invalid supporting IP addresses to their users.
You will likely populate this as your logs show attacks from a common IP address with a variety 
of HTTP_X_FORWARDED_FOR IP addresses.
By putting an entry here, the IP address in ServerVariables["REMOTE_ADDR"] is already considered
a threat and all HTTP_X_FORWARDED_FOR IP addresses are ignored.

Each rule has one <item> tag. The tag format is:
<item ip="[IP address]" />
* ip= - an IP address as it is returned from ServerVariables["REMOTE_ADDR"]. Omit lead zeros except
  when the segment is 0. For example, this is good: 0.5.203.13. This is bad: 000.005.203.13.
  
Example:
<item ip="1.2.3.4" />

-->
<badproxyserverips>
</badproxyserverips>

<!--
A list of IP addresses that have a record of attacks.
You will likely populate this from your logs. 
By putting an entry here, SlowDownMgr will only allow one attack on any page before impeding the attacker
by redirecting to another page.

The IP address supplied will always contain the value from ServerVariables["REMOTE_ADDR"]. If this is a proxy
server and not in the <badproxyserverips> list, you will also supply the value from ServerVariables["HTTP_X_FORWARDED_FOR"],
which is the internal IP address to the user.
It must be in this format:
[REMOTE_ADDR]|[HTTP_X_FORWARDED_FOR]
For example:
10.32.230.1|0.3.100.1

When HTTP_X_FORWARDED_FOR is not used, omit the pipe character:
10.32.230.1

Each rule has one <item> tag. The tag format is:
<item ip="[IP address]" />
* ip= - IP Address. If HTTP_X_FORWARDED_FOR is used, separate the two with a pipe (|) charater.
 Omit lead zeros except when the segment is 0. For example, this is good: 0.5.203.13. This is bad: 000.005.203.13.

Examples:
<item ip="50.2.3.4|180.10.9.8" />
<item ip="60.2.3.4" />
-->
<quickblockips>
</quickblockips>

</ipaddresses>