<?xml version="1.0" encoding="utf-8" ?> 
<!--
Last updated: 1.0.0.2
This is the main file that configures the SQL and script injection engines of Visual Input Security.
You can use it in two ways:
1. As an overview of the default settings to the various globals in PeterBlum.VAM.Security.Globals
2. As a source to populate those globals. You must call PeterBlum.VAM.Security.Globals.UseConfigFile()
within the SetupVisualInputSecurity() method of Global.asax to do so.

This file is designed for editing. You can add, edit and remove elements here.
You can also create your own config files to add and remove elements, if you like.
When creating your own file, please copy the create_your_own.config file to get started.

Each section of this file has its own documentation.

REMINDER: Restart your web application after modifying this file.
-->
<injection>
<!--
The IllegalTags section populates the global property:
PeterBlum.VAM.Security.Globals.IllegalTags.

This is a list of HTML tag names that are never permitted on any field in this site. 
Each item must contain only the tag name, not the < or > characters.
For example, if this list contains the string "script", the <script> tag 
will never be permitted in any input. VISE performs a case insensitive match.

The tag format is:
<item action="add|remove|none" regex="true|false">value</item>
* The value is a tag name. It must be supplied. It supports regular expressions.
These attributes are optional:
* action= one of these values: "add", "remove", "none". If not specified, "add" is used.
  "add" - adds the value to the list. (It will not create duplicates in the list.)
  "remove" - removes the value from the list. Items are added in order specified in the config files.
     Use this to remove an item with the same value previously added to the list.
     Its the preferred approach over deleting the original item.
     This option is usually used in custom.config and updates to config files to
     avoid changing the original file.
  "none" - prevents the item from being used in any way. Just like commenting it out.
* regex=  - When "true", it indicate that the tagname is a regular expression.
  When regex is not supplied, it defaults to regex="false".
  If you use a regular expression that contains special XML characters, consider enclosing it in <![CDATA[tagname]]>
-->
<illegaltags>
<!-- Its very important to block script tags. If you need to omit this line, HTMLencode everything -->
<item action="add">script</item>
<item action="add">applet</item>
<item action="add">object</item>
<item action="add">embed</item>
<item action="add">frame</item>
<item action="add">iframe</item>
<item action="add">frameset</item>
<item action="add">html</item>
  <!-- style is here because <style type='text/javascript'>code</style> works. 
  However, IllegalAttributeContents also detects 'text/javascript'-->
<item action="add">style</item>
<item action="add">meta</item>
<item action="add">layer</item>
<item action="add">ilayer</item>
</illegaltags>

<!--
The illegalattributes section populates the global property:
PeterBlum.VAM.Security.Globals.IllegalAttributes.

A list of HTML attribute names that are never permitted in any HTML tag throughout this site. 
Of special concern are attributes that can run scripts, like the DHTML and DOM event handlers, 
all which start with "on" (like "onclick"). 
However, you can block other attributes. VISE performs a case insensitive match.

The tag format is:
<item action="add|remove|none" regex="true|false">value</item>
* The value is an attribute name. It must be supplied. It supports regular expressions.
These attributes are optional:
* action= one of these values: "add", "remove", "none". If not specified, "add" is used.
  "add" - adds the value to the list. (It will not create duplicates in the list.)
  "remove" - removes the value from the list. Items are added in order specified in the config files.
     Use this to remove an item with the same value previously added to the list.
     Its the preferred approach over deleting the original item.
     This option is usually used in custom.config and updates to config files to
     avoid changing the original file.
  "none" - prevents the item from being used in any way. Just like commenting it out.
* regex=  - When "true", it indicate that the tagname is a regular expression.
  When regex is not supplied, it defaults to regex="false".
  If you use a regular expression that contains special XML characters, consider enclosing it in <![CDATA[tagname]]>
-->
<illegalattributes>
<!-- This is a regular expression that includes all attributes starting with "on". 
  These are all of the event handlers.-->
<item action="add" regex="true">on\w+</item>
<!-- If you want to limit to specific event handlers, set the above to enabled=false and use
  these to get started. These are some of the more problematic event handler attributes.
<item action="add" regex="false">onabort</item>
<item action="add" regex="false">onactivate</item>
<item action="add" regex="true">onbefore\w+</item>
<item action="add" regex="false">ondeactivate</item>
<item action="add" regex="false">onerror</item>
<item action="add" regex="false">onload</item>
<item action="add" regex="true">onmouse\w+</item> 
<item action="add" regex="true">onmov\w+</item>  
<item action="add" regex="false">onpropertychange</item>
<item action="add" regex="false">onreadystatechange</item>
<item action="add" regex="true">onresiz\w+</item> 
<item action="add" regex="false">onscroll</item>
<item action="add" regex="false">onunload</item>
 -->
</illegalattributes>

<!--
The illegalattributecontents section populates the global property:
PeterBlum.VAM.Security.Globals.IllegalAttributeContents.

A list of strings that are found inside an HTML attribute but are never 
permitted on any input throughout this site. Anything in this list is not permitted 
anywhere inside the input text, not just inside an attribute or HTML tag. VISE performs a case insensitive match.

The tag format is:
<item action="add|remove|none" regex="true|false">value</item>
* The value is an attribute content. It must be supplied. It supports regular expressions.
These attributes are optional:
* action= one of these values: "add", "remove", "none". If not specified, "add" is used.
  "add" - adds the value to the list. (It will not create duplicates in the list.)
  "remove" - removes the value from the list. Items are added in order specified in the config files.
     Use this to remove an item with the same value previously added to the list.
     Its the preferred approach over deleting the original item.
     This option is usually used in custom.config and updates to config files to
     avoid changing the original file.
  "none" - prevents the item from being used in any way. Just like commenting it out.
* regex=  - When "true", it indicate that the tagname is a regular expression.
  When regex is not supplied, it defaults to regex="false".
  If you use a regular expression that contains special XML characters, consider enclosing it in <![CDATA[tagname]]>
-->
<illegalattributecontents>
<item action="add" regex="false">javascript:</item>
<item action="add" regex="false">vbscript:</item>
<item action="add" regex="false">jscript:</item>
<item action="add" regex="false">.cookie</item>
<item action="add" regex="false">.domain</item>
<item action="add" regex="false">.protocol</item>
<item action="add" regex="false">.applets</item>
<item action="add" regex="false">.embeds</item>
<item action="add" regex="false">.scripts</item>
<item action="add" regex="false">.create</item>
<item action="add" regex="false">.write</item>
<item action="add" regex="false">.location</item>
<item action="add" regex="false">.innerHTML</item>
<item action="add" regex="false">text/javascript</item>
<item action="add" regex="false">text/vbs</item>   <!-- handles text/vbs and text/vbscript-->
<item action="add" regex="false">text/jscript</item>
<item action="add" regex="false">text/ecmascript</item>
<item action="add" regex="false">text/xml</item>
</illegalattributecontents>

<!--
The customscriptexpressions section adds your own rules to the
Script Detection Engine. See the PeterBlum.VAM.Security.CustomScriptExpression()
method for details in the User's Guide.

Your rules are regular expressions which look at the full text of each input with a case insensitive match.
Your expressions are defined along with an error message to log when detected.

The tag format is:
<item message="your error message" >regular expression</item>
* The value (regular expression) must be supplied. 
  If you use a regular expression that contains special XML characters, consider enclosing it in <![CDATA[tagname]]>
These attributes are required:
* message= - The error message to write to the log file when this expression finds a match.
-->
<customscriptexpressions>
<!-- this example looks for the DHTML method 'alert('
<item message="alert() function call">alert\(</item>
-->
</customscriptexpressions>


<!--
The illegalsqlelements section populates the global property:
PeterBlum.VAM.Security.Globals.IllegalSQLElements.

A list of terms that are never permitted in any input. This can be SQL keywords, SQL patterns, 
table names and column names. This list is used with all SQL Detection Levels.
For example, if this list contains the string "shutdown", no text will ever be permitted to contain the text "shutdown".
Suggestion: Use only phrases that would not normally appear in human language. 
For example, the prefined list looks for "set @[any variable name]". That is unique to the SQL language.
If you have very unique table and column names, you can add them here to guarantee that the hacker cannot ever enter them.
If you have table and column names that are likely to appear in human language, 
enter them into <databaseelementnames>.

VISE performs a case insensitive match. If you enter multiple words, separate them with spaces. 
VISE will replace the spaces with matching rules to a variety of ways to separate words 
including multiple spaces, new lines, and SQL comment phrases.

The tag format is:
<item action="add|remove|none" regex="true|false">value</item>
* The value is an illegal SQL element. It must be supplied. It supports regular expressions.
These attributes are optional:
* action= one of these values: "add", "remove", "none". If not specified, "add" is used.
  "add" - adds the value to the list. (It will not create duplicates in the list.)
  "remove" - removes the value from the list. Items are added in order specified in the config files.
     Use this to remove an item with the same value previously added to the list.
     Its the preferred approach over deleting the original item.
     This option is usually used in custom.config and updates to config files to
     avoid changing the original file.
  "none" - prevents the item from being used in any way. Just like commenting it out.
* regex=  - When "true", it indicate that the tagname is a regular expression.
  When regex is not supplied, it defaults to regex="false".
  If you use a regular expression that contains special XML characters, consider enclosing it in <![CDATA[tagname]]>
-->
<illegalsqlelements>
<item action="add" regex="false">HKEY</item>
<item action="add" regex="false">select *</item> <!-- typical SQL SELECT statement starts with this -->
<item action="add" regex="false">select null</item> <!-- typical SQL SELECT statement starts with this -->
<item action="add" regex="true">set @@?[\p{Ll}\p{Lu}\p{Lt}\p{Lo}_]+</item> <!-- SQL SET statement: set @variablename or set @@variablename -->
<item action="add" regex="true">declare @@?[\p{Ll}\p{Lu}\p{Lt}\p{Lo}_]+</item> <!-- SQL DECLARE statement: declare @variablename or declare @@variablename -->
<item action="add" regex="true">select @@?[\p{Ll}\p{Lu}\p{Lt}\p{Lo}_]+</item>  <!-- SQL SELECT statement: select @variablename or select @@variablename -->
<item action="add" regex="true">exec(ute)?\s*\(\s*@@?[\p{Ll}\p{Lu}\p{Lt}\p{Lo}_]+</item>  <!-- SQL EXEC and EXECUTE statements -->
<item action="add" regex="false">waitfor delay</item>  <!-- see http://www.nextgenss.com/papers/more_advanced_sql_injection.pdf, page 8 -->
<item action="add" regex="false">openrowset</item>  <!-- see http://www.appsecinc.com/presentations/Manipulating_SQL_Server_Using_SQL_Injection.pdf, page 5 -->
<item action="add" regex="false">opendatasource</item>  <!-- see http://www.appsecinc.com/presentations/Manipulating_SQL_Server_Using_SQL_Injection.pdf, page 5 -->
<item action="add" regex="true">@@[\p{Ll}\p{Lu}\p{Lt}\p{Lo}_]+</item> <!-- SQL variable names -->
<item action="add" regex="true">(create|drop|alter) (table|database|procedure|index)</item>
<item action="add" regex="true">union (all )?select</item>
<item action="add" regex="false">bulk insert</item>   <!-- see http://www.appsecinc.com/presentations/Manipulating_SQL_Server_Using_SQL_Injection.pdf, page 8-->
<item action="add" regex="false">nvarchar</item>
<item action="add" regex="false">varchar</item>
</illegalsqlelements>

<!--
The initialsqlkeywords section populates the global property:
PeterBlum.VAM.Security.Globals.InitialSQLKeywords.

A collection of SQL keywords that appear at the beginning of a SQL statement. Their use depends 
on the SQL Detection Level. This should be a partial list of SQL keywords. Those that can alter 
the structure of your database should be defined in <dangeroussqlkeywords>. 
<initialsqlkeywords> should contain more common keywords like "select", "begin", and "readtext". 
This list is combined with <dangeroussqlkeywords> for many searches.
VISE performs a case insensitive match. 

The tag format is:
<item action="add|remove|none" regex="true|false">value</item>
* The value is a SQL keyword. It must be supplied. It supports regular expressions.
These attributes are optional:
* action= one of these values: "add", "remove", "none". If not specified, "add" is used.
  "add" - adds the value to the list. (It will not create duplicates in the list.)
  "remove" - removes the value from the list. Items are added in order specified in the config files.
     Use this to remove an item with the same value previously added to the list.
     Its the preferred approach over deleting the original item.
     This option is usually used in custom.config and updates to config files to
     avoid changing the original file.
  "none" - prevents the item from being used in any way. Just like commenting it out.
* regex=  - When "true", it indicate that the tagname is a regular expression.
  When regex is not supplied, it defaults to regex="false".
  If you use a regular expression that contains special XML characters, consider enclosing it in <![CDATA[tagname]]>
-->
<initialsqlkeywords>
<item action="add" regex="false">select</item>
<item action="add" regex="false">insert</item>
<item action="add" regex="false">delete</item>
<item action="add" regex="false">update</item>
<item action="add" regex="false">truncate</item>
<item action="add" regex="false">declare</item>
<item action="add" regex="false">set</item>
<item action="add" regex="false">print</item>
<item action="add" regex="false">go</item>
<item action="add" regex="false">bulk</item>
<item action="add" regex="false">return</item>
<item action="add" regex="false">case</item>
<item action="add" regex="false">begin</item>
<item action="add" regex="false">break</item>
<item action="add" regex="false">continue</item>
<item action="add" regex="false">goto</item>
<item action="add" regex="false">raiserror</item>
<item action="add" regex="false">else</item>
<item action="add" regex="false">close</item>
<item action="add" regex="false">open</item>
<item action="add" regex="false">fetch</item>
<item action="add" regex="false">deallocate</item>
<item action="add" regex="false">collate</item>
<item action="add" regex="false">save</item>
<item action="add" regex="false">readtext</item>
<item action="add" regex="false">updatetext</item>
<item action="add" regex="false">writetext</item>
<item action="add" regex="false">union</item>
</initialsqlkeywords>

<!--
The dangeroussqlkeywords section populates the global property:
PeterBlum.VAM.Security.Globals.DangerousSQLKeywords.

A list of SQL keywords that appear at the beginning of a SQL statement. 
Typically this list includes keywords that can alter the structure or behavior of your database. 
Some examples include 'create', 'drop', and 'commit'. These keywords should not be included in InitialSQLKeywords.
Their use depends on the SQL Detection Level.
VISE performs a case insensitive match.


The tag format is:
<item action="add|remove|none" regex="true|false">value</item>
* The value is a SQL keyword. It must be supplied. It supports regular expressions.
These attributes are optional:
* action= one of these values: "add", "remove", "none". If not specified, "add" is used.
  "add" - adds the value to the list. (It will not create duplicates in the list.)
  "remove" - removes the value from the list. Items are added in order specified in the config files.
     Use this to remove an item with the same value previously added to the list.
     Its the preferred approach over deleting the original item.
     This option is usually used in custom.config and updates to config files to
     avoid changing the original file.
  "none" - prevents the item from being used in any way. Just like commenting it out.
* regex=  - When "true", it indicate that the tagname is a regular expression.
  When regex is not supplied, it defaults to regex="false".
  If you use a regular expression that contains special XML characters, consider enclosing it in <![CDATA[tagname]]>
-->
<dangeroussqlkeywords>
<item action="add" regex="false">drop</item>
<item action="add" regex="false">create</item>
<item action="add" regex="false">alter</item>
<item action="add" regex="false">exec</item>
<item action="add" regex="false">execute</item>
<item action="add" regex="false">waitfor</item>
<item action="add" regex="false">backup</item>
<item action="add" regex="false">restore</item>
<item action="add" regex="false">commit</item>
<item action="add" regex="false">rollback</item>
<item action="add" regex="false">grant</item>
<item action="add" regex="false">revoke</item>
<item action="add" regex="false">reconfigure</item>
<item action="add" regex="false">setuser</item>
<item action="add" regex="false">shutdown</item>
</dangeroussqlkeywords>

<!--
The databaseelementnames section populates the global property:
PeterBlum.VAM.Security.Globals.DatabaseElementNames.

This is a list of the table names and more important column names in your database.
You should also put the database name in here. 
These names are used to support the Statement Detection Algorithm used by SQL Detection Level 
of MediumLow through MediumHigh.
Suppose that you have a table named "Clients" which is in this list. 
The SQL Detection Engine will have a much better chance of detecting this as an attack: SELECT * from Clients.

Note: It is a good idea to create table names that are not found in human language. 
For example, use "TB_Clients" instead of "Clients". This avoids having false positives 
("We've given you a select choice of clients from our records."). It also makes it harder for 
hackers to guess at likely names.

Consider adding all table names and some of the more important field names to this list. 
Primary key fields and fields used in JOINS are good choices. However, remember that the 
larger the list, the more CPU processing is needed for MediumLow to MediumHigh searches.
If you have very unique table and field names – those that never appear in human language, 
consider adding them into <illegalsqlelements>.

VISE performs a case insensitive match.

The tag format is:
<item action="add|remove|none" regex="true|false">value</item>
* The value is a table or field name. It must be supplied. It supports regular expressions.
These attributes are optional:
* action= one of these values: "add", "remove", "none". If not specified, "add" is used.
  "add" - adds the value to the list. (It will not create duplicates in the list.)
  "remove" - removes the value from the list. Items are added in order specified in the config files.
     Use this to remove an item with the same value previously added to the list.
     Its the preferred approach over deleting the original item.
     This option is usually used in custom.config and updates to config files to
     avoid changing the original file.
  "none" - prevents the item from being used in any way. Just like commenting it out.
* regex=  - When "true", it indicate that the tagname is a regular expression.
  When regex is not supplied, it defaults to regex="false".
  If you use a regular expression that contains special XML characters, consider enclosing it in <![CDATA[tagname]]>
-->
<databaseelementnames>
<!-- example using the table named "Clients" 
<item action="add" >Clients</item>
-->
</databaseelementnames>

<!--
The sqlfunctions section populates the global property:
PeterBlum.VAM.Security.Globals.SqlFunctions.

This list of SQL function names, such as CHAR() and ISNULL(). They are used by the Statement Detection Algorithm
and Common Hacking Patterns Algorithm to detect likely SQL.

All functions will be found only if they are immediately followed by a left parenthesis
(MS SQL permits spaces, newlines and comments between the name and the parenthesis. This 
is handled automatically for you.)
Define the complete function name without the parenthesis.

VISE performs a case insensitive match.

The tag format is:
<item action="add|remove|none" >value</item>
* The value is a SQL function name. It must be supplied.
These attributes are optional:
* action= one of these values: "add", "remove", "none". If not specified, "add" is used.
  "add" - adds the value to the list. (It will not create duplicates in the list.)
  "remove" - removes the value from the list. Items are added in order specified in the config files.
     Use this to remove an item with the same value previously added to the list.
     Its the preferred approach over deleting the original item.
     This option is usually used in custom.config and updates to config files to
     avoid changing the original file.
  "none" - prevents the item from being used in any way. Just like commenting it out.
-->
<sqlfunctions>
<!-- example using the function named "LTrim" 
<item action="add" >ltrim</item>
-->
<item action="add" >cast</item>
<item action="add" >convert</item>
<item action="add" >isnull</item>
<item action="add" >isnumeric</item>
<item action="add" >isdate</item>
<item action="add" >nullif</item>
<item action="add" >char</item>
<item action="add" >nchar</item>
<item action="add" >ascii</item>
<item action="add" >charindex</item>
<item action="add" >patindex</item>
<item action="add" >left</item>
<item action="add" >right</item>
<item action="add" >len</item>
<item action="add" >ltrim</item>
<item action="add" >rtrim</item>
<item action="add" >lower</item>
<item action="add" >upper</item>
<item action="add" >replace</item>
<item action="add" >quotename</item>
<item action="add" >replicate</item>
<item action="add" >reverse</item>
<item action="add" >soundex</item>
<item action="add" >space</item>
<item action="add" >str</item>
<item action="add" >stuff</item>
<item action="add" >substring</item>
<item action="add" >unicode</item>
</sqlfunctions>
          
<!--
The weightedkeywords section populates the data for the Statement Detection Algorithm.
See the User's Guide for a description. It is associated with the
PeterBlum.VAM.Security.Globals.DefineWeightedKeyword() method.

The SQL Detection Levels of MediumLow to MediumHigh use the Statement Detection Algorithm 
to detect SQL statements within text. The process detects a common SQL keyword that begins
a SQL statement, such as SELECT, INSERT, and UPDATE. These are called "initial keywords". 
Then it looks for additional SQL keywords associated with the initial keyword, such as 
FROM, WHERE, and ORDER BY. These are called "supporting keywords". Finally it looks for 
any of your own table or column names, defined in the DatabaseElementNames property.
Each SQL Detection Level establishes a numeric value call the "total weight tolerance". 
Each supporting keyword has its own weight which is a numeric value. If the total weight 
of the supporting keywords found meets or exceeds the total weight tolerance, an attack is detected. 
If any item in DatabaseElementNames is found after the initial keyword, the total weight is increased by 6.

The tag format is:
<item initial="keyword" supporting="keyword" weight="[1-9]" action="add|remove|none" />
* initial= is a SQL keyword that you want to support. Case insensitive.
* supporting= is a SQL keyword that supports the initial keyword. For example, "FROM" is a supporting
  keyword for "SELECT". Case insensitive.
  If the keyword contains multiple words separated by spaces,
  VISE will replace the spaces with matching rules to a variety of ways to
  separate words including multiple spaces, new lines, and SQL comment phrases.
* weight= is a number from 1 to 9. 
  When there has already been an initial and supporting keyword that matches,
  this entry will replace the weight.
* action= one of these values: "add", "remove", "none". If not specified, "add" is used.
  "add" - uses the weight. If a previous weight was specified, it will be replaced.
  "remove" - removes the supporting keyword.
  "none" - prevents the item from being used in any way. Just like commenting it out.
-->
<weightedkeywords>
<!-- initial keyword "select" -->
<item initial="select" supporting="from" weight="8" action="add" />
<item initial="select" supporting="order by" weight="8" action="add" />
<item initial="select" supporting="where" weight="5" action="add" />
<item initial="select" supporting="compute" weight="5" action="add" />
<item initial="select" supporting="group by" weight="5" action="add" />
<item initial="select" supporting="union" weight="5" action="add" />
<item initial="select" supporting="join" weight="4" action="add" />
<item initial="select" supporting="inner" weight="4" action="add" />
<item initial="select" supporting="outer" weight="4" action="add" />
<item initial="select" supporting="having" weight="2" action="add" />
<item initial="select" supporting="into" weight="1" action="add" />
<item initial="select" supporting="for" weight="1" action="add" />
<item initial="select" supporting="and" weight="1" action="add" />
<item initial="select" supporting="or" weight="1" action="add" />
<item initial="select" supporting="as" weight="1" action="add" />
<!-- initial keyword "update" -->
<item initial="update" supporting="set" weight="8" action="add" />
<item initial="update" supporting="from" weight="6" action="add" />
<item initial="update" supporting="where" weight="6" action="add" />
<item initial="update" supporting="join" weight="4" action="add" />
<item initial="update" supporting="inner" weight="4" action="add" />
<item initial="update" supporting="outer" weight="4" action="add" />
<item initial="update" supporting="default" weight="2" action="add" />
<item initial="update" supporting="global" weight="2" action="add" />
<item initial="update" supporting="null" weight="2" action="add" />
<item initial="update" supporting="and" weight="1" action="add" />
<item initial="update" supporting="or" weight="1" action="add" />
<item initial="update" supporting="as" weight="1" action="add" />
<!-- initial keyword "insert" -->
<item initial="insert" supporting="values" weight="8" action="add" />
<item initial="insert" supporting="into" weight="6" action="add" />
<item initial="insert" supporting="with" weight="5" action="add" />
<item initial="insert" supporting="execute" weight="5" action="add" />
<item initial="insert" supporting="exec" weight="5" action="add" />
<item initial="insert" supporting="default" weight="4" action="add" />
<item initial="insert" supporting="as" weight="1" action="add" />
<!-- initial keyword "delete" -->
<item initial="delete" supporting="from" weight="6" action="add" />
<item initial="delete" supporting="where" weight="6" action="add" />
<item initial="delete" supporting="option" weight="5" action="add" />
<item initial="delete" supporting="join" weight="4" action="add" />
<item initial="delete" supporting="inner" weight="4" action="add" />
<item initial="delete" supporting="outer" weight="4" action="add" />
<item initial="delete" supporting="with" weight="2" action="add" />
<item initial="delete" supporting="global" weight="2" action="add" />
<item initial="delete" supporting="current" weight="2" action="add" />
<item initial="delete" supporting="and" weight="1" action="add" />
<item initial="delete" supporting="or" weight="1" action="add" />
<item initial="delete" supporting="as" weight="1" action="add" />
</weightedkeywords>

<!--
The customsqlexpressions section adds your own rules to the
SQL Detection Engine. See the PeterBlum.VAM.Security.CustomSQLExpression()
method for details in the User's Guide.

Your rules are regular expressions which look at the full text of each input with a case insensitive match.
Your expressions are defined along with an error message to log when detected and
the minimum SQL Detection Level to run it.

The tag format is:
<item message="your error message" level="low|mediumlow|medium|mediumhigh|high">regular expression</item>
* The value (regular expression) must be supplied. 
  If you use a regular expression that contains special XML characters, consider enclosing it in <![CDATA[tagname]]>
These attributes are required:
* message= - The error message to write to the log file when this expression finds a match.
* level= - The minimum SQL Detection Level to run this expression. Must be one of these:
  low  mediumlow  medium  mediumhigh  high
-->
<customsqlexpressions>
<!-- this example looks for the DHTML method 'alert('
<item message="The reserved word 'admin' was found." level="medium">admin(\W|$)</item>
-->
</customsqlexpressions>


</injection>