<?xml version="1.0" encoding="utf-8" ?> 
<!--
Last updated: 1.0.0.2
This file adds sql detection information specific to the Oracle database.
It is automatically used when PeterBlum.VAM.Security.Globals.UseConfigFiles(DatabaseType.Oracle)

-->
<injection>

<!--
The illegalsqlelements section populates the global property:
PeterBlum.VAM.Security.Globals.IllegalSQLElements.

A list of terms that are never permitted in any input. This can be SQL keywords, SQL patterns, 
table names and column names. This list is used with all SQL Detection Levels.
For example, if this list contains the string "shutdown", no text will ever be permitted to contain the text "shutdown".
Suggestion: Use only phrases that would not normally appear in human language. 
For example, the prefined list looks for "set @[any variable name]". That is unique to the SQL language.
If you have very unique table and column names, you can add them here to guarantee that the hacker cannot ever enter them.
If you have table and column names that are likely to appear in human language, 
enter them into <databaseelementnames>.

VISE performs a case insensitive match. If you enter multiple words, separate them with spaces. 
VISE will replace the spaces with matching rules to a variety of ways to separate words 
including multiple spaces, new lines, and SQL comment phrases.

The tag format is:
<item action="add|remove|none" regex="true|false">value</item>
* The value must be supplied. It supports regular expressions.
These attributes are optional:
* action= one of these values: "add", "remove", "none". If not specified, "add" is used.
  "add" - adds the value to the list. (It will not create duplicates in the list.)
  "remove" - removes the value from the list. Items are added in order specified in the config files.
     Use this to remove an item with the same value previously added to the list.
     Its the preferred approach over deleting the original item.
     This option is usually used in custom.config and updates to config files to
     avoid changing the original file.
  "none" - prevents the item from being used in any way. Just like commenting it out.
* regex=  - When "true", it indicate that the tagname is a regular expression.
  When regex is not supplied, it defaults to regex="false".
  If you use a regular expression that contains special XML characters, consider enclosing it in <![CDATA[tagname]]>
-->
<illegalsqlelements>
<item action="add" regex="false">SYS.USER_OBJECTS</item>
<item action="add" regex="false">SYS.TAB</item>
<item action="add" regex="false">SYS.USER_TABLES</item>
<item action="add" regex="false">SYS.USER_VIEWS</item>
<item action="add" regex="false">SYS.ALL_TABLES</item>
<item action="add" regex="false">SYS.USER_TAB_COLUMNS</item>
<item action="add" regex="false">SYS.USER_CONSTRAINTS</item>
<item action="add" regex="false">SYS.USER_TRIGGERS</item>
<item action="add" regex="false">SYS.USER_CATALOG</item>
<item action="add" regex="false">EXECUTE IMMEDIATE</item><!-- http://www.net-security.org/dl/articles/IntegrigyIntrotoSQLInjectionAttacks.pdf page 12 -->
<item action="add" regex="false">SELECT TRANSLATE</item> <!-- http://www.net-security.org/dl/articles/IntegrigyIntrotoSQLInjectionAttacks.pdf page 10 -->
<item action="add" regex="false">DBMS_SQL</item> <!-- http://www.net-security.org/dl/articles/IntegrigyIntrotoSQLInjectionAttacks.pdf page 14 -->
<!-- 
The following are only needed if you have not patched Oracle for buffer overflows:
http://www.net-security.org/dl/articles/IntegrigyIntrotoSQLInjectionAttacks.pdf page 22

<item action="add" regex="false">bfilename</item>
<item action="add" regex="false">TZ_OFFSET</item>
<item action="add" regex="false">TO_TIMESTAMP_TZ</item>
-->
</illegalsqlelements>
</injection>