<div id="login-container" class="row">
  <div class="span7 offset1">
    <div class="hero-unit">
      <h1>Welcome!</h1>
      <p class="lead">Providing a human driven connection in the digital space, helping people connect with "friends of friends." Because nobody knows you better than your friends do.
      <br />
      <button id="show-signup-modal" class="btn btn-large btn-primary pull-right" type="button">Join Now!</button>
      </p>
    </div>
  </div>
  <div class="span4">
    <form id="form-login">
      <h3>Login</h3>
      <input id="login-email" type="email" name="email" class="input-block-level" data-trigger="focus" placeholder="Email">
      <input id="login-password" type="password" name="password" class="input-block-level" data-trigger="focus" placeholder="Password">
      <label class="checkbox">
        <input type="checkbox" name="login-remember-me" value="remember-me" checked> Remember me
      </label>
      <button id="submit-login" class="btn btn-large btn-primary" type="button">Login</button>
    </form>
  </div>
</div>
<div class="row">
  <div class="span2 offset10">
    <p class="pull-right">&copy; 2015</p>
  </div>
</div>
