<div id="login-container" class="row">
  <div class="span12">
    <div class="well">
      <h1 class="text-center">Welcome!</h1>
    </div>
  </div>
</div>
<div class="row">
  <div class="span12">
    <form id="form-login">
      <h3>Login</h3>
      <input id="login-email" type="email" name="email" class="input-block-level" data-trigger="focus" placeholder="Email">
      <input id="login-password" type="password" name="password" class="input-block-level" data-trigger="focus"  placeholder="Password">
      <label class="checkbox">
        <input type="checkbox" name="login-remember-me" value="remember-me" checked> Remember me
      </label>
      <button id="submit-login" class="btn btn-large btn-primary" type="button">Login</button>
      <button id="show-signup-modal" class="btn btn-large btn-primary pull-right" type="button">Join Now!</button>
    </form>
  </div>
</div>
<div class="footer">
  <p class="pull-right">&copy; 2015</p>
</div>
