<ul class="nav" data-toggle="buttons-radio">
  <li id="tabbar-peeps"><a href="#peeps" data-toggle="tab">Peeps</a></li>
  <li id="tabbar-profile"><a href="#profile" data-toggle="tab">My Profile</a></li>
</ul>
