  <tr>
    <td><%=h part.id %></td>
    <td><%=h part.description %></td>  
    <td class="ext_desc"><%=h part.extended_description.body unless part.extended_description.nil? %></td>  
    <td><%=h part.quantity %></td>  
  </tr>
