/* Copyright Dynarch.com, 2003-2005.  All Rights Reserved. */

@import url("hmenu.css");

/* horizontal parts */

div.dynarch-horiz-menu { background-color: #324; color: #c5c5dd; border-color: #000; }
div.dynarch-horiz-menu table { color: #c8c5dd; }
div.dynarch-horiz-menu table tr td.hover { background-color: #768; }
div.dynarch-horiz-menu table tr td.active { background-color: #879; color: #fff; }
div.dynarch-horiz-menu table tr td.active table { color: #fff; }
div.dynarch-horiz-menu table tr td.separator div { border-left-color: #768; border-right-color: #102; }

/* vertical parts */

div.dynarch-popup-menu { border-color: #546; background-color: #324; padding: 1px 0px; }
div.dynarch-popup-menu table { color: #c8c5dd; }
div.dynarch-popup-menu tr.item td.icon { background-color: #382848; }
div.dynarch-popup-menu tr.separator td div { background-color: #546; }
div.dynarch-popup-menu tr.item.hover, div.dynarch-popup-menu tr.item.active { background-color: #879; color: #fff; }
div.dynarch-popup-menu tr.item.hover td.icon, div.dynarch-popup-menu tr.item.active td.icon { background-color: #879; }
div.dynarch-popup-menu tr.disabled td.label { color: #768; }
div.dynarch-popup-menu tr.item td.arrow div { width: 11px; background: transparent url("img/rarrow-hover.gif") no-repeat 0% 50%; }
