a {
	text-decoration: none;
	color: #0000FF;
}

a:hover {
	text-decoration: underline;
}

h1 {
	color: #000080;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: bold;
	margin: 0px 0px 6px 12px;
	text-align: left;
	width: 85%;
}

img {
	margin: 5px 20px 0px 15px;
}

img.website {
	margin: 20px 0px 0px 0px;
}

li {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	padding: 1px 0px 1px 0px;
}

li.link1 {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	list-style-type: disc;
	margin: 14px 20px 14px 30px;
	padding: 1px 0px 1px 0px;
}

ol li {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin: 5px 20px 5px 20px;
}

p {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin: 14px 40px 14px 20px;
}

table {
	margin: 10px 10px 18px 10px;
	width: 85%;
}

table.emailcontact {
	margin: 20px 10px 18px 10px;
	width: 85%;
}

td {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	padding: 8px 8px 8px 8px;
	vertical-align: top;
}

td.footer {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding: 1px 8px 1px 12px;
	vertical-align: top;
}

th {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	padding: 6px 6px 6px 6px;
	text-align: left;
}

th.formheading {
	background-color: #2A3C8C;
	color: #FFFFFF;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	padding: 5px 5px 5px 5px;
	text-align: left;
}

ul {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

ul.links {
	margin: 5px 20px 5px 20px;
}
