p.closewindow {
	font-size: .80em;
	text-align: center;
}

table.addphotos {
	border: 1px solid #808080;
	margin: 5px 0px 15px 10px;
	width: 90%;
}

table.addphotos td {
	font-size: .7em;
	padding: 5px;
}

table.addphotos td img {
	border: 1px solid #000000;
}

table.addphotos td.header {
	font-size: .8em;
	font-weight: bold;
	padding: 10px 5px 10px 5px;
}

table.feathomes {
	border: 1px solid #808080;
	margin: 5px 0px 15px 10px;
	width: 90%;
}

table.feathomes td {
	font-size: .7em;
	padding: 8px 6px 6px 10px;
	vertical-align: top;
}

table.feathomes td.thmimg {
	background-color: #F5F5F5;
	padding: 10px;
	vertical-align: top;
	width: 150px;
}

table.listingdetails {
	border-collapse: collapse;
	margin: 10px 10px 10px 10px;
	table-layout: fixed;
	width: 90%;
}

table.listingdetails td {
	font-size: .70em;
	margin: 0px 0px 0px 0px;
	padding: 4px 4px 4px 4px;
}

table.listingdetails th {
	font-size: .70em;
	font-weight: bold;
	margin: 0px 0px 0px 0px;
	padding: 7px 4px 7px 4px;
	text-align: left;
}

table.listingdetails th.title {
	background-color: #B0C4DE;
	font-size: .70em;
	font-weight: bold;
	margin: 0px 0px 0px 0px;
	padding: 7px 4px 7px 4px;
	text-align: left;
}

table.listingphoto {
	border: 1px solid #808080;
	margin: 0px 0px 10px 10px;
	width: 65%;
}

table.listingphoto img.lgphoto {
	margin: 10px;
}

table.popupform {
	margin: 5px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	width: 100%;
}

table.popupform td {
	font-family: Arial, Helvetica, sans-serif;
	font-size: .75em;
	margin: 0px 0px 0px 0px;
	padding: 4px 4px 4px 4px;
}

table.popupform th.formheading {
	background-color: #000080;
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: .95em;
	font-weight: bold;
	margin: 0px 0px 10px 6px;
	padding: 6px 6px 6px 6px;
	text-align: left;
	width: 85%;
}

table.vtour {
	border: 1px solid #808080;
	margin: 5px 0px 15px 10px;
	width: 90%;
}

table.vtour td {
	font-size: .7em;
	padding: 10px;
}

table.vtour td img {
	border: 0px none #000000;
}

table.vtour td.header {
	font-size: .8em;
	font-weight: bold;
	padding: 10px 5px 10px 5px;
}
