<!-- navigation -->
<nav class="navbar calcite-navbar navbar-fixed-top calcite-text-light calcite-bg-dark calcite-bgcolor-dark-blue">
  <div class="navbar-header">
    <a class="navbar-brand" role="button" id="calciteToggleNavbar" aria-haspopup="true">
      <span><img src="./stylesheets/globalXSmall.png" id="toplogo" alt="entente logo" /></span>
    </a>
  </div>

  <div class="calcite-title calcite-overflow-hidden">
    <span class="calcite-title-main">Entente</span>
    <span class="calcite-title-divider hidden-xs"></span>
    <span class="calcite-title-sub hidden-xs">Enter a location or zoom in on the map to view a region!</span>
  </div>

  <ul class="calcite-nav nav navbar-nav float-sm-right">
    <ul class="nav navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#/register">SIGN UP</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#/register">LOG IN</a>
      </li>
    </ul>
  </ul>
</nav>

<!-- search container and map container -->
<div id="search"></div>
<div class="container" id="mapContainer">
  <div class="calcite-map calcite-map-absolute">
    <div id="mapViewDiv"></div>
  </div>
</div>

<!-- WHY section - the left pane -->
<section id="why">
    <div class="container-fluid container-about">
        <div class="row">
          <div class="col-md-6">
            <h2 class="heading">Entente</h2>
            <h4 class="heading">Connecting like-minded people on important issues.</h4>
            <p>The word ‘entente’ (from the French entente) means ‘an alliance of parties to such an understanding.’ The goal of this application is to connect like-minded users on important social and environmental issues by geographical region.</p>
            <p>To start, feel free to explore Entente by geographical region or environmental/social concern. Then check out those in your area and elsewhere in the world who share your concerns and interests, and connect via our chat feature.</p>
          </div>

          <div class="col-md-6" id="main-icons">
            <i><img src="./stylesheets/hand.png" id="hand" alt="hand icon" /></i>
            <i class="glyphicon glyphicon-arrow-right" id="arrow" aria-hidden="true"></i>
            <i><img src="./stylesheets/gestures.png" id="gestures" alt="gestures icon" /></i>
          </div>
        </div>
    </div>
</section>
