<?xml version="1.0" encoding="UTF-8"?>
<!--
Last updated: v3.0.0
Here are the factory defaults for many settings of the VAM system.
This file plays a role in many of the lists shown in the VS.NET Property Editor
and supplies runtime data based on names you set within the properties of the system.

It generally shouldn't be edited unless you are willing to re-apply those edits when
a new release comes out. Instead, edit the Custom.VAM.Config file, which has the capability
to override and delete values found here.

Both this file (VAM.Config) and Custom.VAM.config must reside in the
[webapplicationroot]/VAM folder or the alternative
defined in web.config, in the <AppSettings> under the name "VAM_ConfigFilePath".

This file is required by VAM. If it cannot be located, an exception will be thrown
when a page first uses a VAM feature.

See Custom.VAM.Config for descriptions of each section.
-->
<configuration>
   <RegExPatterns>
<!-- NOTE: custom.VAM.config can add, replace or delete items in this list -->   
      <RegExPattern name="U.S. Phone" >^([1])?\s*(\(\d{3}\))?\s*\d{3}[\s\-]?\d{4}</RegExPattern>
      <RegExPattern name="International Phone" >^\+?\d([\d\-\.]){7,20}</RegExPattern>
      <RegExPattern name="Any Phone" >(^([1])?\s*(\(\d{3}\))?\s*\d{3}[\-\s]?\d{4}$)|(^\+?\d([\d\-\.]){7,20})</RegExPattern>
      <RegExPattern name="French Phone">^(0( \d|\d ))?\d\d \d\d(\d \d| \d\d )\d\d</RegExPattern>
      <RegExPattern name="Japanese Phone">^(0\d{1,4}-|\(0\d{1,4}\) ?)?\d{1,4}-\d{4}</RegExPattern>
      <RegExPattern name="German Phone">^((\(0\d\d\) |(\(0\d{3}\) )?\d )?\d\d \d\d \d\d|\(0\d{4}\) \d \d\d-\d\d?)</RegExPattern>
      <RegExPattern name="P.R.C Phone">^(\(\d{3}\)|\d{3}-)?\d{8}</RegExPattern>
      <RegExPattern name="Email Address" >^([\w\.!#\$%\-+.'_]+@[A-Za-z0-9\-]+(\.[A-Za-z0-9\-]+)+)</RegExPattern>
      <RegExPattern name="Web URL" >^(?:|http\://|https\://)?(\w+\@)?(www\.)?\w+(\.\w+)+(\:\d+)?</RegExPattern>
      <RegExPattern name="MailTo URL" >^(?:|mailto\://)?(\w+\@)?(www\.)?\w+(\.\w+)+(\:\d+)?</RegExPattern>
      <RegExPattern name="FTP URL" >^(?:|ftp\://)?(\w+\@)?(www\.)?\w+(\.\w+)+(\:\d+)?</RegExPattern>
      <RegExPattern name="Any URL" >^(?:ftp\://|http\://|mailto\://|https\://|file\://)?(\w+\@)?(www\.)?\w+(\.\w+)+(\:\d+)?</RegExPattern>
        <!-- NOTE: Bug fix in v2.0.1 for US Zip Code -->
      <RegExPattern name="U.S. Zip Code (5 and 9 digits)" >^(\d{5}-\d{4}|\d{5})$</RegExPattern>
        <!-- NOTE: The next two added in v2.0.1 -->
        <!-- NOTE: Canadian postal codes support lowercase only to allow users an easier time to enter values. Remove all 'a-z' to eliminate this support -->
      <RegExPattern name="US and Canadian Postal Codes">^(\d{5}-\d{4}|\d{5}|[A-Za-z]\d[A-Za-z] \d[A-Za-z]\d|[A-Za-z]\d[A-Za-z]\d[A-Za-z]\d)$</RegExPattern>
      <RegExPattern name="Canadian Postal Code">^([A-Za-z]\d[A-Za-z] \d[A-Za-z]\d|[A-Za-z]\d[A-Za-z]\d[A-Za-z]\d)$</RegExPattern>
      <RegExPattern name="UK Postal Code, space separator required">^([A-PR-UWYZ0-9][A-HK-Y0-9][AEHMNPRTVXY0-9]?[ABEHMNPRVWXY0-9]? {1,2}[0-9][ABD-HJLN-UW-Z]{2}|GIR 0AA)$</RegExPattern>
      <RegExPattern name="UK Postal Code, space separator optional">^([A-PR-UWYZ0-9][A-HK-Y0-9][AEHMNPRTVXY0-9]?[ABEHMNPRVWXY0-9]? {0,2}[0-9][ABD-HJLN-UW-Z]{2}|GIR 0AA)$</RegExPattern>
      <RegExPattern name="French Postal Code">^\d{5}$</RegExPattern>
      <RegExPattern name="German Postal Code">^(D-)?\d{5}$</RegExPattern>
      <RegExPattern name="Japanese Postal Code">^\d{3}(-(\d{4}|\d{2}))?$</RegExPattern>
      <RegExPattern name="P.R.C Postal Code">^\d{6}$</RegExPattern>
      <RegExPattern name="Credit Card with spaces" >^\d{4}( \d{4}){3,4}$</RegExPattern>
      <RegExPattern name="Credit Card without spaces" >^\d{16}$</RegExPattern>
      <RegExPattern name="U.S. Social Security Number" >^\d{3}-\d{2}-\d{4}$</RegExPattern>
      <RegExPattern name="P.R.C Social Security (ID)">^(\d{18}|\d{15})$</RegExPattern>
   </RegExPatterns>

   <DataTypes>
   
<!-- This list documents the ErrorFormatters that are predefined.
     You can add, replace or delete items in this list in custom.VAM.config. -->
<!--     
      <DataType name="String" type="PeterBlum.VAM.StringVAMTypeConverter" />
      <DataType name="String-Case Insensitive" type="PeterBlum.VAM.CaseInsStringVAMTypeConverter" />
      <DataType name="Integer" type="PeterBlum.VAM.Int32VAMTypeConverter" />
      <DataType name="Double" type="PeterBlum.VAM.DoubleVAMTypeConverter" />
      <DataType name="Date" type="PeterBlum.VAM.DateVAMTypeConverter" />
      <DataType name="Currency" type="PeterBlum.VAM.CurrencyVAMTypeConverter" />
      <DataType name="Currency with symbol" type="PeterBlum.VAM.CurrencyWSymbolVAMTypeConverter" />
      <DataType name="Positive Integer" type="PeterBlum.VAM.PosInt32VAMTypeConverter" />
      <DataType name="Positive Double" type="PeterBlum.VAM.PosDoubleVAMTypeConverter" />
      <DataType name="Positive Currency" type="PeterBlum.VAM.PosCurrencyVAMTypeConverter" />
      <DataType name="Positive Currency with symbol" type="PeterBlum.VAM.PosCurrencyWSymbolVAMTypeConverter" />
-->
   </DataTypes>
   
   <ErrorFormatters>
   
<!-- This list documents the ErrorFormatters that are predefined.
     You can add, replace or delete items in this list in custom.VAM.config. -->
<!--     
      <ErrorFormatter name="Text" type="PeterBlum.VAM.TextErrorFormatter"/>
      <ErrorFormatter name="Image with tooltip" type="PeterBlum.VAM.TooltipImageErrorFormatter"/>
      <ErrorFormatter name="Image with alert box" type="PeterBlum.VAM.AlertImageErrorFormatter"/>
      <ErrorFormatter name="HyperLink with alert box" type="PeterBlum.VAM.HyperLinkErrorFormatter"/>
-->
   </ErrorFormatters>
   
   <Conditions>
<!-- This list documents the Conditions that are predefined.
     You can add, replace or delete items in this list in custom.VAM.config. -->
<!-- 
      <Condition name="RequiredTextCondition" type="PeterBlum.VAM.RequiredTextCondition" />
      <Condition name="RequiredListCondition" type="PeterBlum.VAM.RequiredListCondition" />
      <Condition name="DataTypeCheckCondition" type="PeterBlum.VAM.DataTypeCheckCondition" />
      <Condition name="CompareToValueCondition" type="PeterBlum.VAM.CompareToValueCondition" />
      <Condition name="CompareTwoFieldsCondition" type="PeterBlum.VAM.CompareTwoFieldsCondition" />
      <Condition name="RangeCondition" type="PeterBlum.VAM.RangeCondition" />
      <Condition name="RegexCondition" type="PeterBlum.VAM.RegexCondition" />
      <Condition name="CompareToStringsCondition" type="PeterBlum.VAM.CompareToStringsCondition" />
      <Condition name="CheckStateCondition" type="PeterBlum.VAM.CheckStateCondition" />
      <Condition name="SelectedIndexCondition" type="PeterBlum.VAM.SelectedIndexCondition" />
      <Condition name="SelectedIndexRangesCondition" type="PeterBlum.VAM.SelectedIndexRangesCondition" />
      <Condition name="TextLengthCondition" type="PeterBlum.VAM.TextLengthCondition" />
      <Condition name="WordCountCondition" type="PeterBlum.VAM.WordCountCondition" />
      <Condition name="DifferenceCondition" type="PeterBlum.VAM.DifferenceCondition" />
      <Condition name="DuplicateEntryCondition" type="PeterBlum.VAM.DuplicateEntryCondition" />
      <Condition name="MultiCondition" type="PeterBlum.VAM.MultiCondition" />
      <Condition name="CountSelectionsCondition" type="PeterBlum.VAM.CountSelectionsCondition" />
      <Condition name="CountTrueConditions" type="PeterBlum.VAM.CountTrueConditions" />
      <Condition name="UnwantedWordsCondition" type="PeterBlum.VAM.UnwantedWordsCondition" />
      <Condition name="EmailAddressCondition" type="PeterBlum.VAM.EmailAddressCondition" />
      <Condition name="CreditCardNumberCondition" type="PeterBlum.VAM.CreditCardNumberCondition" />      
      <Condition name="ABARoutingNumberCondition" type="PeterBlum.VAM.ABARoutingNumberCondition" />
      <Condition name="CharacterCondition" type="PeterBlum.VAM.CharacterCondition" />   
      <Condition name="CustomCondition" type="PeterBlum.VAM.CustomCondition" />
      <Condition name="VisibleCondition" type="PeterBlum.VAM.VisibleCondition" />
      <Condition name="EnabledCondition" type="PeterBlum.VAM.EnabledCondition" />
      <Condition name="ReadOnlyCondition" type="PeterBlum.VAM.ReadOnlyCondition" />
      <Condition name="ClassNameCondition" type="PeterBlum.VAM.ClassNameCondition" />
      <Condition name="CompareToValueAttributeCondition" type="PeterBlum.VAM.CompareToValueAttributeCondition" />
-->
   </Conditions>
   
<!-- NOTE: custom.VAM.config can add, replace or delete items in this list -->   
   <CreditCards>
      <CreditCard name="MasterCard" length="16" prefixes="51|52|53|54|55" />
      <CreditCard name="Visa-13char" length="13" prefixes="4" />
      <CreditCard name="Visa-16char" length="16" prefixes="4" />
      <CreditCard name="American Express" length="15" prefixes="34|37" />
      <CreditCard name="Diners Club/Carte Blanche" length="15" prefixes="300|301|302|303|305|36|38" enabled="false" />
      <CreditCard name="Diners Club" length="14" prefixes="36" />
      <CreditCard name="Discover" length="16" prefixes="6011" />
   </CreditCards>

<!-- Lets conditions and the FieldStateController read into the child control lists of a control -->   
   <GetChildMethods>
      <GetChildMethod type="System.Web.UI.WebControls.CheckBoxList, System.Web, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" method="VAM_GCCheckRadioList" />
      <GetChildMethod type="System.Web.UI.WebControls.RadioButtonList, System.Web, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" method="VAM_GCCheckRadioList" />
   </GetChildMethods>
</configuration>