<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	
	<appSettings>
		<add key="SqlConnectString" value="Data Source=(local);user id=sean;password=gren76b;Initial Catalog=ChrisEdwardsGroup;" />
	</appSettings>
	
    <system.web>
				
					<httpRuntime
						executionTimeout="500"
						maxRequestLength="4096"
						useFullyQualifiedRedirectUrl="false"
						minFreeThreads="8"
						minLocalRequestFreeThreads="4"
						appRequestQueueLimit="100" />
						
					<pages buffer="true"
						enableSessionState="true"
						enableViewState="true"
						enableViewStateMac="false"
						autoEventWireup="true"
						smartNavigation="false"
						pageBaseType="System.Web.UI.Page"
						userControlBaseType="System.Web.UI.UserControl" />
						
					<sessionState
						mode="InProc"
						stateConnectionString="tcpip=127.0.0.1:42424"
						stateNetworkTimeout="10"
						sqlConnectionString="data source=127.0.0.1; user id=sa;password="
						cookieless="false"
						timeout="600" />
					
					<trace
						enabled="false"
						requestLimit="10"
						pageOutput="false"
						traceMode="SortByTime"
						localOnly="true" />
					
					<customErrors mode="Off" />
					
					<authentication mode="Forms">
					<forms name="ListManage" path="/" loginUrl="login.aspx" protection="All" timeout="600">
						<credentials passwordFormat="SHA1">
							<user name="sean" password="4B5E6713E0DEC57FC97F2EA6E9D2FC83B680E97D" />
							<user name="chris" password="49BDE5FDF41ECC458403C63F08656973F9299206" />
						</credentials>
					</forms>
				</authentication>
				
				<authorization>
					<allow users="sean, chris" />
					<deny users="?" />
				</authorization>
					
					<globalization
						requestEncoding="utf-8"
						responseEncoding="utf-8" />
						
					<compilation
						debug="true"
						defaultLanguage="c#" />
						
				</system.web>

</configuration>
