.module-2-col-generic.row {
  max-width: $theme_max_width;
  background: #FFF;
  padding-top: 70px;
  padding-bottom: 35px;
  padding-left: 7%;
  padding-right: 7%;

  @include project_typography;

  > div.small-12 {
    max-width: $max_line_length;
    margin: auto;
    padding: 0;
  }
  figure {
    max-width: 423px;
    width: 100%;
  }
  p {
    @include body_copy;
    padding-right: 6%;
  }
  h3 {
    @include section_heading;
    padding-right: 6%;
  }
  h2 {
    @include sans_serif;
    color: $light_blue;
    font-size: 45px;
    line-height: 1.2;
    padding-right: 6%;
    margin-top: 0;
    margin-bottom: 0;
  }
  span.link-with-arrow {
    a {
      @include link_with_arrow;
      &:after { top: 0; }
    }
  }
  figure {
    margin: 0;
    position: relative;
    overflow: visible;
  }
  h4 {
    @include heading_decor;
  }
}

/* variations */
.module-2-col-generic.row.bg-color-light-blue,
.module-2-col-generic.bg-color-light-blue {
  background-color: $light_blue;

  p {
    color: $blue;
  }
  h4, a {
    color: #FFF;
  }
  a {
    @include generic_hover_state(darken(#FFF, 10%));
  }
  .heading-decor:before {
    background-position: -4px -153px;
  }
  span.link-with-arrow {
    a {
      color: #FFF;
      &:after {
        background-position: -117px -39px;
      }
      &:hover:after {
        background-position: -128px -39px;
      }
    }
  }
}

.module-2-col-generic.module-end-of-page {
  position: relative;
  z-index: -1;
  padding-bottom: 15%;
}
.fitter {
  width: 100%;
  height: 30px;
  position: absolute;
  bottom: 380px;
  -webkit-transform: skewY(-0.3deg);
  -moz-transform: skewY(-0.3deg);
  -ms-transform: skewY(-0.3deg);
  -o-transform: skewY(-0.3deg);
  transform: skewY(-0.3deg);
  -webkit-backface-visibility: hidden;
  backface-visibility: initial;
  z-index: -1;
  padding-right: 10%;
  @media (max-width: 960px) {
    bottom: 355px;
  }

  .inner-fitter {
    height: 30px;
    position: relative;
    z-index: 2;
    width: 100%;
    margin: auto;
    display: block;
    top: -69px;
  }
}

// responsive
@media screen and (max-width: $break_point_max_width_mobile) {
  .module-2-col-generic.row  {
    max-width: $theme_mobile_max_width;
    padding-top: 40px;
    padding-bottom: 30px;

    &.module-end-of-page {
      padding-bottom: 100px;
    }
    .text-content {
      width: 100%;
    }
    .image-content {
      display: none;
    }
  }
}
