USE [RMW]
GO
/****** Object:  StoredProcedure [dbo].[sp_insert_residential]    Script Date: 01/31/2013 14:29:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

ALTER PROC [dbo].[sp_insert_residential]
	@MLS				int,
	@LastEditDateTime		datetime = NULL,
	@AltMLS				int = NULL,
	@Price				money,
	@Owner				varchar(35),
	@AgentID1			int,
	@AgentID2			int = NULL,
	@OfficeID			int,
	@Tagline			varchar(50),
	@Address1			varchar(50),
	@Address2			varchar(50) = NULL,
	@CityID				int,
	@Subdivision			varchar(60) = NULL,
	@AnnualTaxes			money = NULL,
	@AnnualTaxYear			char(4) = NULL,
	@ScheduleNumber			varchar(30) = NULL,
	@Assessments			varchar(100) = NULL,
	@Bedrooms			float,
	@Baths				float,
	@SquareFt			int,
	@YearBuilt			char(4),
	@YearRemodeled			char(4) = NULL,
	@ParcelSize			varchar(30),
	@Style				varchar(50),
	@Foundation			varchar(50),
	@Construction			varchar(50),
	@Roof				varchar(50),
	@Garage				varchar(50),
	@Patio				bit,
	@Deck				bit,
	@Fenced				bit,
	@FencingDescription		varchar(50) = NULL,
	@Heating			varchar(50),
	@Fireplace			bit,
	@Woodstove			bit,
	@ElectricityProvider		varchar(50),
	@ElectricityMonthlyCost		money = NULL,
	@DomWaterProvider		varchar(50),
	@DomWaterMonthlyCost		money = NULL,
	@IrrWaterProvider		varchar(50) = NULL,
	@IrrWaterShares			decimal = NULL,
	@IrrWaterMonthlyCost		money = NULL,
	@Sewer				char(6),
	@KitchenDim			varchar(30) = NULL,
	@LivingRoomDim			varchar(30) = NULL,
	@DiningRoomDim			varchar(30) = NULL,
	@FamilyRoomDim			varchar(30) = NULL,
	@MasterBedDim			varchar(30) = NULL,
	@Bedroom2Dim			varchar(30) = NULL,
	@Bedroom3Dim			varchar(30) = NULL,
	@Bedroom4Dim			varchar(30) = NULL,
	@Bathroom1Dim			varchar(30) = NULL,
	@Bathroom2Dim			varchar(30) = NULL,
	@Bathroom3Dim			varchar(30) = NULL,
	@Bathroom4Dim			varchar(30) = NULL,
	@BasementDim			varchar(30) = NULL,
	@GarageDim			varchar(30) = NULL,
	@PatioDim			varchar(30) = NULL,
	@DeckDim			varchar(30) = NULL,
	@ShedDim			varchar(30) = NULL,
	@OfficeDim			varchar(30) = NULL,
	@MediaRoomDim			varchar(30) = NULL,
	@LaundryRoomDim			varchar(30) = NULL,
	@SunroomDim			varchar(30) = NULL,
	@Possession			varchar(50),
	@EarnestMoney			money,
	@FeaturesDescription		varchar(750),
	@InclusionsDescription		varchar(250),
	@ExclusionsDescription		varchar(250),
	@OutbuildingsDescription	varchar(250) = NULL,
	@DisclosuresDescription		varchar(250) = NULL,
	@MapDirections			varchar(250) = NULL
AS

INSERT INTO ResidentialProperties
	VALUES(@MLS,
		DEFAULT,
		DEFAULT,
		@LastEditDateTime,
		@AltMLS,
		@Price,
		@Owner,
		@AgentID1,
		@AgentID2,
		@OfficeID,
		@Tagline,
		@Address1,
		@Address2,
		@CityID,
		@Subdivision,
		@AnnualTaxes,
		@AnnualTaxYear,
		@ScheduleNumber,
		@Assessments,
		@Bedrooms,
		@Baths,
		@SquareFt,
		@YearBuilt,
		@YearRemodeled,
		@ParcelSize,
		@Style,
		@Foundation,
		@Construction,
		@Roof,
		@Garage,
		@Patio,
		@Deck,
		@Fenced,
		@FencingDescription,
		@Heating,
		@Fireplace,
		@Woodstove,
		@ElectricityProvider,
		@ElectricityMonthlyCost,
		@DomWaterProvider,
		@DomWaterMonthlyCost,
		@IrrWaterProvider,
		@IrrWaterShares,
		@IrrWaterMonthlyCost,
		@Sewer,
		@KitchenDim,
		@LivingRoomDim,
		@DiningRoomDim,
		@FamilyRoomDim,
		@MasterBedDim,
		@Bedroom2Dim,
		@Bedroom3Dim,
		@Bedroom4Dim,
		@Bathroom1Dim,
		@Bathroom2Dim,
		@Bathroom3Dim,
		@Bathroom4Dim,
		@BasementDim,
		@GarageDim,
		@PatioDim,
		@DeckDim,
		@ShedDim,
		@OfficeDim,
		@MediaRoomDim,
		@LaundryRoomDim,
		@SunroomDim,
		@Possession,
		@EarnestMoney,
		@FeaturesDescription,
		@InclusionsDescription,
		@ExclusionsDescription,
		@OutbuildingsDescription,
		@DisclosuresDescription,
		@MapDirections)

