USE [RMW]
GO
/****** Object:  StoredProcedure [dbo].[sp_update_residential]    Script Date: 01/31/2013 14:33:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

ALTER PROC [dbo].[sp_update_residential]
	@MLS				int,
	@AltMLS				int = NULL,
	@Price				money,
	@Owner				varchar(35),
	@AgentID1			int,
	@AgentID2			int = NULL,
	@OfficeID			int,
	@Tagline			varchar(50),
	@Address1			varchar(50),
	@Address2			varchar(50) = NULL,
	@CityID				int,
	@Subdivision			varchar(60) = NULL,
	@AnnualTaxes			money = NULL,
	@AnnualTaxYear			char(4) = NULL,
	@ScheduleNumber			varchar(30) = NULL,
	@Assessments			varchar(100) = NULL,
	@Bedrooms			float,
	@Baths				float,
	@SquareFt			int,
	@YearBuilt			char(4),
	@YearRemodeled			char(4) = NULL,
	@ParcelSize			varchar(30),
	@Style				varchar(50),
	@Foundation			varchar(50),
	@Construction			varchar(50),
	@Roof				varchar(50),
	@Garage				varchar(50),
	@Patio				bit,
	@Deck				bit,
	@Fenced				bit,
	@FencingDescription		varchar(50) = NULL,
	@Heating			varchar(50),
	@Fireplace			bit,
	@Woodstove			bit,
	@ElectricityProvider		varchar(50),
	@ElectricityMonthlyCost		money = NULL,
	@DomWaterProvider		varchar(50),
	@DomWaterMonthlyCost		money = NULL,
	@IrrWaterProvider		varchar(50) = NULL,
	@IrrWaterShares			decimal = NULL,
	@IrrWaterMonthlyCost		money = NULL,
	@Sewer				char(6),
	@KitchenDim			varchar(30) = NULL,
	@LivingRoomDim			varchar(30) = NULL,
	@DiningRoomDim			varchar(30) = NULL,
	@FamilyRoomDim			varchar(30) = NULL,
	@MasterBedDim			varchar(30) = NULL,
	@Bedroom2Dim			varchar(30) = NULL,
	@Bedroom3Dim			varchar(30) = NULL,
	@Bedroom4Dim			varchar(30) = NULL,
	@Bathroom1Dim			varchar(30) = NULL,
	@Bathroom2Dim			varchar(30) = NULL,
	@Bathroom3Dim			varchar(30) = NULL,
	@Bathroom4Dim			varchar(30) = NULL,
	@BasementDim			varchar(30) = NULL,
	@GarageDim			varchar(30) = NULL,
	@PatioDim			varchar(30) = NULL,
	@DeckDim			varchar(30) = NULL,
	@ShedDim			varchar(30) = NULL,
	@OfficeDim			varchar(30) = NULL,
	@MediaRoomDim			varchar(30) = NULL,
	@LaundryRoomDim			varchar(30) = NULL,
	@SunroomDim			varchar(30) = NULL,
	@Possession			varchar(50),
	@EarnestMoney			money,
	@FeaturesDescription		varchar(750),
	@InclusionsDescription		varchar(250),
	@ExclusionsDescription		varchar(250),
	@OutbuildingsDescription	varchar(250) = NULL,
	@DisclosuresDescription		varchar(250) = NULL,
	@MapDirections			varchar(250) = NULL
AS

UPDATE ResidentialProperties
	SET LastEditDateTime = DEFAULT,
		AltMLS = @AltMLS,
		Price = @Price,
		Owner = @Owner,
		AgentID1 = @AgentID1,
		AgentID2 = @AgentID2,
		OfficeID = @OfficeID,
		Tagline = @Tagline,
		Address1 = @Address1,
		Address2 = @Address2,
		CityID = @CityID,
		Subdivision = @Subdivision,
		AnnualTaxes = @AnnualTaxes,
		AnnualTaxYear = @AnnualTaxYear,
		ScheduleNumber = @ScheduleNumber,
		Assessments = @Assessments,
		Bedrooms = @Bedrooms,
		Baths = @Baths,
		SquareFt = @SquareFt,
		YearBuilt = @YearBuilt,
		YearRemodeled = @YearRemodeled,
		ParcelSize = @ParcelSize,
		Style = @Style,
		Foundation = @Foundation,
		Construction = @Construction,
		Roof = @Roof,
		Garage = @Garage,
		Patio = @Patio,
		Deck = @Deck,
		Fenced = @Fenced,
		FencingDescription = @FencingDescription,
		Heating = @Heating,
		Fireplace = @Fireplace,
		Woodstove = @Woodstove,
		ElectricityProvider = @ElectricityProvider,
		ElectricityMonthlyCost = @ElectricityMonthlyCost,
		DomWaterProvider = @DomWaterProvider,
		DomWaterMonthlyCost = @DomWaterMonthlyCost,
		IrrWaterProvider = @IrrWaterProvider,
		IrrWaterShares = @IrrWaterShares,
		IrrWaterMonthlyCost = @IrrWaterMonthlyCost,
		Sewer = @Sewer,
		KitchenDim = @KitchenDim,
		LivingRoomDim = @LivingRoomDim,
		DiningRoomDim = @DiningRoomDim,
		FamilyRoomDim = @FamilyRoomDim,
		MasterBedDim = @MasterBedDim,
		Bedroom2Dim = @Bedroom2Dim,
		Bedroom3Dim = @Bedroom3Dim,
		Bedroom4Dim = @Bedroom4Dim,
		Bathroom1Dim = @Bathroom1Dim,
		Bathroom2Dim = @Bathroom2Dim,
		Bathroom3Dim = @Bathroom3Dim,
		Bathroom4Dim = @Bathroom4Dim,
		BasementDim = @BasementDim,
		GarageDim = @GarageDim,
		PatioDim = @PatioDim,
		DeckDim = @DeckDim,
		ShedDim = @ShedDim,
		OfficeDim = @OfficeDim,
		MediaRoomDim = @MediaRoomDim,
		LaundryRoomDim = @LaundryRoomDim,
		SunroomDim = @SunroomDim,
		Possession = @Possession,
		EarnestMoney = @EarnestMoney,
		FeaturesDescription = @FeaturesDescription,
		InclusionsDescription = @InclusionsDescription,
		ExclusionsDescription = @ExclusionsDescription,
		OutbuildingsDescription = @OutbuildingsDescription,
		DisclosuresDescription = @DisclosuresDescription,
		MapDirections = @MapDirections

WHERE MLS = @MLS

