<?xml version="1.0" encoding="utf-8" ?>
<configuration>
		
		<appSettings>
			<!-- ServerStatus="Live" or ServerStatus="Testing" -->
			<add key="ServerStatus" value="Live" />
  	</appSettings>
				
    <system.web>
				
					<httpRuntime
						executionTimeout="90"
						maxRequestLength="4096"
						useFullyQualifiedRedirectUrl="false"
						minFreeThreads="8"
						minLocalRequestFreeThreads="4"
						appRequestQueueLimit="100" />
						
					<pages buffer="true"
						enableSessionState="false"
						enableViewState="false"
						enableViewStateMac="false"
						autoEventWireup="true"
						smartNavigation="false"
						pageBaseType="System.Web.UI.Page"
						userControlBaseType="System.Web.UI.UserControl" />
						
					<sessionState
						mode="InProc"
						stateConnectionString="tcpip=127.0.0.1:42424"
						stateNetworkTimeout="10"
						sqlConnectionString="data source=127.0.0.1; user id=sa;password="
						cookieless="false"
						timeout="20" />
					
					<trace
						enabled="false"
						requestLimit="10"
						pageOutput="false"
						traceMode="SortByTime"
						localOnly="true" />
					
					<customErrors mode="Off" />
					
					<globalization
						requestEncoding="utf-8"
						responseEncoding="utf-8" />
						
					<compilation
						debug="true"
						defaultLanguage="c#" />
						
				</system.web>

</configuration>
